NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017/campuscart
JWT_SECRET=thisismysecretkeyforjwttoken
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
IMAGE_STORAGE_KEY=your_cloudinary_api_key
IMAGE_STORAGE_SECRET=your_cloudinary_api_secret
CLOUD_NAME=your_cloudinary_cloud_name
PAYMENT_KEY=your_stripe_or_razorpay_key
PAYMENT_SECRET=your_stripe_or_razorpay_secret
